<!doctype html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <h2>Register</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-center mt-3 login_container">
            <input type="submit" value="Register Account">
        </div>
        <div class="mt-4">
            <div class="d-flex justify-content-center links">
						Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
					</div>
				</div>
    </form>
    {% endblock %}

</body>
</html>