<!doctype html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% autoescape off %}
    {% load crispy_form_tags %}
    <p>To initiate the password reset process for your {{ user.name )) Blog Account, click the link below:</p>

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    If clicking the link above doesn't work, please copy and paste the URL in a new browser tab instead.

    Sincerely,
    The Blog Team
    {% endautoescape %}

</body>
</html>