<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Blog</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div id="container">
    <header>
        <div class="row">
        <div class="col-md-4">
            <h1><a href="{% url 'index' %}">Django Blog</a></h1>
        </div>
        <div class="col-md-2">
            <a href="{% url 'post_new' %}">New Blog Post</a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'register' %}">Register</a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'login' %}">Login</a>
        </div>
        </div>
        
    </header>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</body>
</html>