<!doctype html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <h1>New Post</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-user">Title</i></span>
                </div>
                {{form.title}}
            </div>
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-user">Author</i></span>
                </div>
                {{form.author}}
            </div>
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-user">Body</i></span>
                </div>
                {{form.body}}
            </div>
            <input type="submit" value="Save">
        </form>
    {% endblock %}

</body>
</html>