<!doctype html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <div id="container">
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <div class="post-entry">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.body }}</p>
                        <p>{{ comment.body }}</p>
                    </div>
                    <a href="{% url 'edit_post' post.id %}">Edit Post</a>
                    <a href="{% url 'delete_post' post.id %}">Delete Post</a>
                    <a href="{% url 'comment' %}">comment</a>
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
    {% endblock %}

</body>
</html>

